.login {
    width: 100vw;
    height: 85vh;
    background-color: #f0f2f5;
    display: flex;
    align-items: center; 
     justify-content: center;
  }
  
  .loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
  }
  
  .loginLeft,
  .loginRight {
    flex: 1;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .loginLogo {
      min-width: 400px;
    font-size: 65px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
  }
  
  .loginDesc {
      min-width: 400px;
    font-size: 28px;
  }
  
  .loginBox{
      width: 73%;
      min-width: 400px;
      height: 330px;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
  
  .loginInput{
      height: 60px;
      border-radius: 7px;
      border: 1px solid lightgray;
      font-size: 18px;
      padding-left: 20px;
  }
  
  .loginInput:focus{
      outline: none;
  }
  
  .loginButton{
      height: 52px;
      border-radius: 7px;
      border: none;
      background-color: #1775ee;
      color: white;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
  }
  
  .loginForgot{
      text-align: center;
      color: #1775ee;
  }
  
  .loginRegisterButton{
      width: 57%;
      align-self: center;
      height: 52px;
      border-radius: 7px;
      border: none;
      background-color: #42b72a;
      color: white;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
  }
  @media (max-width:900px) {
     .loginWrapper{
         display: block;
         text-align: center;
     } 
      
  }

 